@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400&display=swap");

*{
    margin: 0;
    padding 0%;
    box-sizing: border-box;
    font-family: "quicksand"
}

body {
    display: flex;
    flex-direction: column; 
}

header {
    display: flex;
    flex-direction: row;
    padding: 10px;
    border: 10px solid gainsboro;
    background-color: gainsboro;
    width: 100%;
}

nav {
    display: flex;
    flex-direction: row;
    font-weight: bold;
}

h1 {
color: orangered; 
flex-grow: 5;   
}

.nav-a {
    text-decoration: none;
    text size: 20px;
    color: #4b4b4b; 
    flex-grow: 0,2;
    margin: 10px;
}

main {
display: flex;
flex-direction: column;
margin: auto;
width: 100%;
}

.banner-hero {
margin-top: 30px;
margin-bottom: 30px;
border-radius: 25px;
margin-left: 2%;
margin-right: 2%;
width: 96%;
max-height: 500px;
}

.contenedor-servicios {
    display: flex;
    flex-direction: row;
    margin: auto;
    justify-content: space-between;
    /* justify-content: center; */
}

.servicios1 {
max-width: 300px;
max-height: 300px;
margin: 10px;
padding: 5px;
}

.imagen-servicio-1 {
        max-width: 50px;
        max-height: 50px;
        border-radius:5px;
      }

.servicios2 {
    max-width: 300px;
    max-height: 300px;
    text-align: center;
    margin: 10px;
    padding: 5px;    
    }

.imagen-servicio-2 {
        max-width: 50px;
        max-height: 50px;
        border-radius:5px;
      }

.servicios3 {
    max-width: 300px;
    max-height: 300px;
    margin: 10px;
    padding: 5px;
    }
        
.imagen-servicio-3 {
        max-width: 50px;
        max-height:50px;
        border-radius:5px;
      }






































































































































































































































































































































































































































































































































;

}

/* este h4 es codigo de prueba, se puede borrar si no funciona */
h4{
    text-align: center;
    width: 100%;
    margin: 0px auto;
    color: white;
    font-size: 80px;
    letter-spacing: 5px;
    top: 50%;
    position: absolute;
    margin-top: -40px;
    
    text-shadow: -1px -1px 0px color blue);
      3px 3px 0px cornflowerblue;
  }  
  /* Este H4 es código de prueba, se puede borrar si no funciona */